In [1]:
books = {
    'title': ['Title', 'Long Ctitle', 'Another long title', 'The Clongest title is there'],
    'first name': ['Name', 'Another name', 'Name three', 'Name fou'],
    'last name': ['Last name 1', 'Last name 2', 'Last name 3', 'Last name 4']
}
filename = 'books.csv'

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(books)
df
df.to_csv(filename, index=False)

In [4]:
df = pd.read_csv(filename)
df

                         title    first name    last name
0                        Title          Name  Last name 1
1                  Long Ctitle  Another name  Last name 2
2           Another long title    Name three  Last name 3
3  The Clongest title is there      Name fou  Last name 4

In [5]:
def count_words(string):
    return len(string.split(' '))

df['WordsInTitle'] = df['title'].apply(count_words)
df

                         title    first name    last name  WordsInTitle
0                        Title          Name  Last name 1             1
1                  Long Ctitle  Another name  Last name 2             2
2           Another long title    Name three  Last name 3             3
3  The Clongest title is there      Name fou  Last name 4             5

In [6]:
max_len = df['title'].str.len().max()
max_len
df[df['title'].str.len() == max_len]

                         title first name    last name  WordsInTitle
3  The Clongest title is there   Name fou  Last name 4             5

In [7]:
voewls_df = df['first name'].str.lower().str.count(r'[aeiou]')
df['Consonant'] = df['first name'].str.lower().str.count(r'[a-z]') - voewls_df
filt = df['Consonant'] == 3
df[filt]

,title,first name,last name,WordsInTitle,Consonant
3,The Clongest title is there,Name fou,Last name 4,5,3

In [8]:
filt = df['first name'].str.startswith('A')
df[filt]

         title    first name    last name  WordsInTitle  Consonant
1  Long Ctitle  Another name  Last name 2             2          6

In [9]:
import random 

def add_number(string):
    return string +  str(random.randint(0, 100))

new_data = df['title'].apply(add_number)
new_df = pd.DataFrame(new_data)
new_df

                           title
0                        Title96
1                  Long Ctitle53
2           Another long title55
3  The Clongest title is there79

In [10]:
def check_condition(string):
    splitted = string.split(' ')
    if len(splitted) > 1:
        letter = 'C'
        return splitted[1].startswith(letter)
    else:
        return False

filt = new_data.apply(check_condition)
data = new_data[filt]
pd.DataFrame(data)

                           title
1                  Long Ctitle53
3  The Clongest title is there79